<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484745590164-904qqkkkj5630uk34etrsu5b7dg3tc0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484745590164-904qqkkkj5630uk34etrsu5b7dg3tc0e</string>
	<key>API_KEY</key>
	<string>AIzaSyCJOedw_-h93d_yJ25hE_h5k0suAOt2uP4</string>
	<key>GCM_SENDER_ID</key>
	<string>484745590164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smarthome</string>
	<key>PROJECT_ID</key>
	<string>casainteligente-d3d91</string>
	<key>STORAGE_BUCKET</key>
	<string>casainteligente-d3d91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484745590164:ios:ac82997f4a6f7842ac0b81</string>
</dict>
</plist>